#EFSmartApplyContainer,#page-wrapper,.panel,.smart-apply-container,.wrapper-content,body,html{background-color:transparent!important;transition:none!important}body{overflow-y:hidden!important}
#EFSmartApplyContainer,#pagewrapper,.careerEmbedMode,.wrapper-content{min-height:237px!important}
.go-button{background-color:#1b5098;background:#0074e4;color:#fff!important;padding-left:2rem;padding-right:2rem;border:transparent;white-space:nowrap}
#EFSmartApplyContainer .careerEmbedMode .panel{padding:0}.panel .row{margin-left:-15px;margin-right:-15px;margin-top:0}@media (max-width:1200px){#EFSmartApplyContainer,#pagewrapper,.careerEmbedMode,.wrapper-content{min-height:288px!important}}@media (min-width:1200px){.search-box{margin:0!important}}#onetrust-consent-sdk{display:none}
.go-button-row button {
    color: #fff !important;
}
.go-button:hover {
    background-color:#0D4599;background:linear-gradient(to top,#006AFF,#0D4599);
    background-repeat:repeat-x;color:#FFF;
}
.search-box, .advanced-filter-options {
    width: 35%;
}
.search-box {
    margin-right: 0 !important;
}
.go-button-container {
    width: 15%;
}
@media (max-width: 800px) {
    .search-box, .advanced-filter-options, .go-button-container {
        width: 100%!important;
    }
}
@media (max-width: 800px) {
    .go-button-container {
        top: 100px;
    }
    .advanced-filter-options {
        position: absolute;
        display: inline-block;
        .search-dropdown {
            font-size: 16px !important;
        }
    }
    .search-box {
        position: absolute;
        display: inline-block;
        top: 50px;
    }
}
